# Python
__pycache__/
*.py[cod]
*.egg-info/
.build/
.dist/
.eggs/
.pytest_cache/

# Environments
.env
.venv/
.venv*/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project-specific
data/
outputs/
